<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>35398336967-3aqkc14gql34do13clgh31lell997dcf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35398336967-3aqkc14gql34do13clgh31lell997dcf</string>
	<key>API_KEY</key>
	<string>AIzaSyCqlgzfQEWuznQPBiBeaX6j26S4mY4T7pE</string>
	<key>GCM_SENDER_ID</key>
	<string>35398336967</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movieApp1</string>
	<key>PROJECT_ID</key>
	<string>movie-app-b02ba</string>
	<key>STORAGE_BUCKET</key>
	<string>movie-app-b02ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35398336967:ios:53dacadf25d45c5f8199e2</string>
</dict>
</plist>